/* div {
    background-color: #ffc0cb;
    display: flex;
    justify-content:space-evenly ;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
    li {
    list-style: none;
    display: inline;
 } 
*/

/*  */



/*  */
 







/* 
li {
    list-style-type: none;
   background-color: rgb(114, 152, 139);
 } 


 .navbar{
    background-color: rgba(211, 97, 211, 0.537);
    display: flex;
    justify-content: space-evenly;
 }
 
 a {
    text-decoration: none;
    color: rgba(255, 0, 0, 1);
 }
 .outer {
    height: 400px;
    width: 400px;
    background-color: rgb(14, 170, 188);
    display: flex;
    justify-content: center;
    align-items: center;
   
 }

 .inner{
    height: 100px;
    width: 100px;
    background-color: rgb(211, 237, 11);
    background-position: center;
    
 } */

/*
div {
   height: 50px;
   width: 50px;
   background-color: purple;
}

@media(max-width : 80px){
   div {
      background-color: red;
   }
}

@media(min-width : 80px) and (max-width : 400px) {
   div{
      background-color: green;
   }
}
@media(min-width : 400px) and (max-width : 500px) {
   div{
      background-color: rgb(0, 0, 255);
   }
}
@media(min-width : 500px){
   div{
      background-color:yellow ;
   }
}
   /*  */
/* 
div {
   height: 100px;
   width: 100px;
   background-color: rgb(54, 238, 75);
   border: 2px solid rgb(0, 0, 0);
   position: absolute ;
   top: 100px;
   left: 100px; 
   animation: coloranimate;
   animation-duration: 3s;
   animation-timing-function: ease-in;
   animation-delay: s;
   animation-iteration-count: infinite;
   animation-direction: reverse; */

/*    
   transition-property: all;
   transition-timing-function: steps(5) ; */
   /* transition: all 1s ease-in 1s;*/
   /* transform: rotate(160deg); */
   /* rotate: x 180deg; */
   /* transition: all 2s ease-in ;
   animation: coloranimation 2s ease-in 0s infinite normal ; 
}
@keyframes coloranimate {
   /* from{background-color: aqua;}
   to {background-color: red;}
    
   0% {
      left: 0px;
      background-color: red;
   } 
   50% {
      background-color: green;
   }
   100% {
      left: 200px;
      background-color: blue;
      color: white;
   }
}

div:hover{
   /* background-color: rgb(255, 0, 0);
   color: azure;
   font-size: 20px; */
   /* transform: scale(2,);
   rotate: 360deg;

   transform: skew(90deg); 

} *
div:active{
   /* background-color: rgb(71, 105, 255); */
   /* font-size: 15px; 
}*/

  
.loder {
   height: 200px;
   width: 200px; 
   border-radius: 50%;
   border: 20px solid rgb(0, 4, 255);
   border-top: 20px solid rgb(127, 114, 224);
   animation: spinanimate 1s ease-in-out 0s infinite normal;

}
@keyframes spinanimate {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);

   }
}






















 

