/* div {
    background-color: #ffc0cb;
    display: flex;
    justify-content:space-evenly ;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
    li {
    list-style: none;
    display: inline;
 } 
*/

/*  */



/*  */








/* 
li {
    list-style-type: none;
   background-color: rgb(114, 152, 139);
 } 


 .navbar{
    background-color: rgba(211, 97, 211, 0.537);
    display: flex;
    justify-content: space-evenly;
 }
 
 a {
    text-decoration: none;
    color: rgba(255, 0, 0, 1);
 }
 .outer {
    height: 400px;
    width: 400px;
    background-color: rgb(14, 170, 188);
    display: flex;
    justify-content: center;
    align-items: center;
   
 }

 .inner{
    height: 100px;
    width: 100px;
    background-color: rgb(211, 237, 11);
    background-position: center;
    
 } */


div {
   height: 50px;
   width: 50px;
   background-color: purple;
}
@media(max-width : 80px){
   div {
      background-color: red;
   }
}

@media(min-width : 80px) and (max-width : 400px) {
   div{
      background-color: green;
   }
}
@media(min-width : 400px) and (max-width : 500px) {
   div{
      background-color: rgb(0, 0, 255);
   }
}
@media(min-width : 500px){
   div{
      background-color:yellow ;
   }
}























 

